appdirs==1.4.4
argcomplete==3.0.5
asgiref==3.3.4
certifi==2022.12.7
charset-normalizer==3.1.0
distlib==0.3.6
Django==3.2.18
django-cors-headers==3.7.0
django-filter==23.1
django-seed==0.3.1
djangorestframework==3.12.4
Faker==18.13.0
filelock==3.11.0
future==0.18.3
idna==3.4
importlib_resources==5.12.0
Pillow==9.5.0
pipenv==2023.3.20
pipfile==0.0.2
platformdirs==3.2.0
pypng==0.20220715.0
pyserial==3.5
python-barcode==0.14.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-escpos==2.2.0
pytz==2021.1
pyusb==1.2.1
PyYAML==6.0
qrcode==7.4.2
requests==2.28.2
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
toposort==1.10
typing_extensions==4.5.0
urllib3==1.26.15
viivakoodi==0.8.0
virtualenv==20.21.0
virtualenv-clone==0.5.7
zipp==3.15.0