server {
    listen 8000;
    server_name backend.local;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/pi/manage-umbrella-main/backend;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}